{% extends 'base.html' %}
{% block content %}
<h2>Clientes</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Cidade/UF</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.cidade }}/{{ cliente.estado }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">Nenhum cliente cadastrado.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}