{% extends 'base.html' %}
{% block content %}
<h2>Produtos</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Preço venda</th>
            <th>Cor</th>
            <th>Fabricante</th>
            <th>Imagem</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.codigo }}</td>
            <td>{{ produto.nome }}</td>
            <td>R$ {{ produto.preco_venda }}</td>
            <td>{{ produto.get_cor_display }}</td>
            <td>{{ produto.fabricante.nome }}</td>
            <td>
                {% if produto.imagem %}
                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" width="50">
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="6">Nenhum produto cadastrado.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}